
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-app" fill="currentColor" class="favicon"
    xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd"
      d="M11 2H5a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z" />
  </svg>
  <span>kindling</span>
    <div class="spacer"></div>
</div>

<!-- Body -->
<div class="content" role="main">
  <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-app" fill="currentColor" class="favicon"
    xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd"
      d="M11 2H5a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z" />
  </svg>
  <h1>{{ title }}</h1>
  <app-options></app-options>


</div>


